// 변수처리

//size width
$siteWidth: 1320px;

//text size
$fontSizeSmall : 12px;
$fontSizeNormal : 16px;
$fontSizeMid : 18px;
$fontSizeBig : 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 21px;
$titleFontSizeMid: 21px;
$titleFontSizeBig: 21px;


//background color
$layoutBg : #fff3c4;

// font color
$fontColorBasic: #666;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

//border color
$borderColorPrimary: #b8944d;
$borderColorSub : #997939;

//button color
$gbtnColor: #b8944d;
$gbtnColorHover: #e3a936;

// table bg
$tableBg : #b8944d;
